*{
    margin: 0;
    padding: 0;
}
#main{
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
    background: palevioletred;
}
#jane-header{
    width: 100%;
    height: 70px;
    background: #ededed;
    background-image: url("../img/janeshop_logo.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: relative;
}
#jane-search{
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    padding: 2px 20px;
    border-radius: 20px;
    border: 1px solid #d1d4d5;
    position: absolute;
    left: 410px;
    top: 15px;
    font-size: 20px;
}
#jane-search input[type="text"]{
    width: 200px;
    height: 30px;
    float: left;
    border: none;
    background: transparent;
    outline-style: none;
}
#jane-search input[type="submit"]{
    width: 30px;
    height: 30px;
    float: left;
}


