/*全局*/
*{
    margin: 0;
    padding: 0;
}
.common-gap{
    height: 10px;
}
.small-font{
    font-size:12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.90);
}
@keyframes twinkle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hot{
    width: 24px;
    height: 12px;
    border-radius: 3px;
    background: #f33333;
    position: absolute;
    top: -6px;
    right: 6px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: white;
    animation:twinkle 1s infinite ease-in-out;
}
.hot::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #f33333 transparent transparent transparent;
    border-width: 5px 8px 4px 2px;
    position: absolute;
    top: 11px;
    left: 3px;
}

#main{
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
}
/*头部样式*/
#jane-header{
    width: 100%;
    height: 70px;
    background: #ededed;
    background-image: url("../img/janeshop_logo.png");
    background-repeat: no-repeat;
    background-position: 25px 5px;
    position: relative;
}
#jane-search{
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
    border: 1px solid #d1d4d5;
    position: absolute;
    left: 410px;
    top: 15px;
    font-size: 20px;
}
#jane-search input[type="text"]{
    width: 200px;
    height: 30px;
    float: left;
    border: none;
    background: transparent;
    outline-style: none;
    color: palevioletred;
    font-size: 20px;
}
#jane-search input[type="submit"]{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 15px;
    background: #cf2d05;
    border-style: none;
    color: white;
    margin: 2px 2px 2px 22px;
    outline-style: none;
}
/*导航栏样式*/
#jane-nav{
    width: 100%;
    height: 45px;
    background: #4a4a4a;
    color: white;
}
#jane-nav ul{
    width: 500px;
    height: 45px;
    /*消除li间的间隔*/
    font-size: 0;
}
#jane-nav ul li{
     font-size: 18px;
     display: inline-block;
     width: 100px;
     height: 100%;
     line-height: 45px;
     text-align: center;
 }
#jane-nav ul li:hover{
    background: #cf2d05;
    cursor: pointer;
}

/*中部样式*/
#jane-middle{
    height: 650px;
}
#jane-middle-aside{
    height: 650px;
    width: 210px;
    float: left;
}
#jane-middle-article{
    height: 650px;
    width: 880px;
    background: yellow;
    margin-left: 220px;
}
/*轮播最新动态一行*/
#jane-article-top{
    height: 380px;
}
#jane-article-down{
    height: 260px;
}

/*商品分类样式*/
.sup-title{
    height: 30px;
    line-height: 30px;
    text-indent: 8px;
    background: #4a4a4a;
    color: white;
}
.category{
    height: 155px;
}
.category .title{
    height: 35px;
    line-height: 35px;
    text-indent: 8px;
    font-weight: bolder;

}
.category ul{
    width: 190px;
    height: 128px;
    margin: 0 auto;
    border-top: 1px solid #d1d4d5;
}
.category li{
    list-style-type: none;
    display: inline-block;
    width: 95px;
    height: 30px;
    float: left;
    position: relative;
}
.category li:hover{
    cursor: pointer;
    color: #cf2d05;
}





#jane-middle-article{

}
#jane-article-top{

}
#jane-article-down{

}
.tab-title{

 }
.tabs-hide{
    display: none;
}
